<nav class="navbar bg-[#05141C] bg-opacity-95 text-white p-4 w-full z-20 top-0 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo Section -->
    <div class="flex items-center space-x-2">
      <a routerLink="/home" class="flex items-center space-x-2">
        <img src="https://res.cloudinary.com/dtgegh9ya/image/upload/c_crop,g_center,h_305,w_410/wokwkel63sf16v8riqna" alt="Logo" class="h-12 md:h-16" />
        <p class="text-white text-xl md:text-2xl font-bold">PITCHPLAY</p>
      </a>
    </div>

    <!-- Mobile Menu Button -->
    <button class="md:hidden text-white focus:outline-none" (click)="toggleMenu()">
      <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <div class="hidden md:flex space-x-6 text-lg">
      <p routerLink="/home" routerLinkActive="active" class="hover:underline hover:text-blue-400 cursor-pointer p-2">Home</p>
      <p routerLink="/all-teams" routerLinkActive="active" class="hover:underline hover:text-blue-400 cursor-pointer p-2">Teams</p>
      <p routerLink="/schedule" routerLinkActive="active" class="hover:underline hover:text-blue-400 cursor-pointer p-2">Schedule</p>
      <p routerLink="/all-players" routerLinkActive="active" class="hover:underline hover:text-blue-400 cursor-pointer p-2">Players</p>
    </div>

    <!-- Avatar Section -->
    <div class="hidden md:flex items-center space-x-4 cursor-pointer">
      <img src="https://res.cloudinary.com/dtgegh9ya/image/upload/v1737814693/samples/people/boy-snow-hoodie.jpg" alt="User" (click)="toggleDropdown()"class="w-12 h-12 rounded-full border object-cover border-gray-500" />
      <div *ngIf="isDropdownOpen" class="absolute right-16 top-5 w-32 bg-white text-black rounded shadow-lg z-30">
        <button (click)="logout()" class="w-full text-left px-4 py-2 hover:bg-gray-200">Logout</button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="md:hidden bg-[#1B2730] bg-opacity-95 text-center py-4 space-y-2">
    <p routerLink="/home" routerLinkActive="active" class="block hover:underline hover:text-blue-400 cursor-pointer p-2" (click)="closeMenu()">Home</p>
    <p routerLink="/all-teams" routerLinkActive="active" class="block hover:underline hover:text-blue-400 cursor-pointer p-2" (click)="closeMenu()">Teams</p>
    <p routerLink="/schedule" routerLinkActive="active" class="block hover:underline hover:text-blue-400 cursor-pointer p-2" (click)="closeMenu()">Schedule</p>
    <p routerLink="/all-players" routerLinkActive="active" class="block hover:underline hover:text-blue-400 cursor-pointer p-2" (click)="closeMenu()">Players</p>
    <div class="relative">
      <img src="https://res.cloudinary.com/dtgegh9ya/image/upload/v1737814693/samples/people/boy-snow-hoodie.jpg" alt="User" (click)="toggleDropdown()" class="cursor-pointer w-12 h-12 rounded-full mx-auto border object-cover border-gray-500 mt-2" />
      <div *ngIf="isDropdownOpen" class="absolute right-5 bottom-0 mt-14 w-32 bg-white text-black rounded shadow-lg z-30">
        <button (click)="logout()" class="w-full text-left px-4 py-2 hover:bg-gray-200">Logout</button>
      </div>
    </div>

  </div>
</nav>
