<div class="bg-bg-200 p-6 rounded-lg shadow-lg max-w-md mx-auto">
  <h2 class="text-text-100 text-xl font-semibold mb-4">Favourite Teams</h2>

  <!-- Display limited or all teams based on showAll -->
  <div *ngFor="let team of (showAll ? teamInfo : teamInfo.slice(0, 3))" class="space-y-4">
    <div class="flex items-center space-x-4 px-2 py-2 border-t shadow-sm bg-bg-200 max-w-sm border-b border-bg-300">
      <img [src]="'https://www.mlbstatic.com/team-logos/' + team.teamId + '.svg'" 
           [alt]="team.teamName" 
           class="w-12 h-12 rounded-full bg-white p-2" />
      <div>
        <p class="text-md font-semibold text-text-100">
          <a href='https://baseball-bay.vercel.app/team/{{team.teamId}}'>
            {{ team.teamName }}
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- Toggle Button -->
  <div class="text-center mt-6" *ngIf="teamInfo.length > 3">
    <p class="text-text-200 text-sm cursor-pointer hover:underline" (click)="toggleView()">
      {{ showAll ? 'Show Less' : 'View All' }}
    </p>
  </div>
</div>
