<!-- loader -->
<div *ngIf="isLoading" class="fixed inset-0 flex justify-center items-center bg-gray-800 bg-opacity-50 z-50">
    <div class="flex flex-col justify-center items-center">
      <div class="spinner-border animate-spin inline-block w-16 h-16 border-4 border-t-4 border-gray-200 rounded-full" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p class="text-white mt-4">Loading, please wait...</p>
    </div>
</div>

<div class="bg-bg-200" *ngIf="!isLoading">
    <app-navbar></app-navbar>

<div class="container mx-auto px-4 py-6 relative bg-bg-200 text-text-100">
  <h2 class="text-3xl font-bold text-center mb-4 outfit-medium ">Select Your Favorite Teams</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <div
      *ngFor="let team of data"
      (click)="toggleTeamSelection(team.teamId)"
      [ngClass]="{
        'border-4 border-blue-500 scale-105': isTeamSelected(team.teamId),
        'border-gray-300': !isTeamSelected(team.teamId)
      }"
      class="bg-white shadow-lg rounded-xl overflow-hidden cursor-pointer transform transition-transform hover:scale-105 hover:shadow-2xl border"
    >
      <div class="flex justify-center bg-gray-100 p-4">
        <img
          src="https://www.mlbstatic.com/team-logos/{{ team.teamId }}.svg"
          alt="{{ team.teamName }}"
          class="h-20 w-20 object-contain"
        />
      </div>
      <div class="p-4 text-center">
        <h5 class="text-lg font-semibold text-gray-800 outfit-regular">{{ team.teamName }}</h5>
      </div>
    </div>
  </div>
    <!-- Continue Button -->
    <div class="text-center mt-6">
        <button
          (click)="continue()"
          [disabled]="selectedTeams.length < 3"
          class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md transition-transform hover:scale-105 hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed absolute top-5 right-5 ubuntu-medium "
        >
          Continue
        </button>
      </div>
</div>

</div>
