<div class="navbar flex items-center justify-between bg-primary-100 text-text-100 p-4">
  <!-- Logo Section -->
  <img src="https://drive.google.com/file/d/1dUGsI2de60439usXyXu_jYk0HFWwXOwn/view?usp=sharing" alt="Logo"
    class="logo w-12 h-12" />

  <!-- Navigation Links -->
  <div class="nav-links flex space-x-6">
    <p routerLink="" routerLinkActive="active" class="hover:underline hover:text-accent-200 cursor-pointer">Home
    </p>
    <p routerLink="/team-page/660271" routerLinkActive="team"
      class="hover:underline hover:text-accent-200 cursor-pointer">
      Team
    </p>
    <p routerLink="/contact" routerLinkActive="active" class="hover:underline hover:text-accent-200 cursor-pointer">
      Contact</p>
    <p routerLink="/login" routerLinkActive="active" class="hover:underline hover:text-accent-200 cursor-pointer">Login
    </p>
  </div>

  <!-- Search Bar and Avatar -->
  <div class="search-bar flex items-center space-x-2">
    <img src="assets/icon/activity.svg" alt="Avatar" class="w-10 h-10 rounded-full border border-bg-300" />
  </div>
</div>