<nav class="navbar bg-[#05141C] bg-opacity-95 text-white p-4">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a routerLink="/home">
      <img
        src="https://drive.google.com/uc?id=1dUGsI2de60439usXyXu_jYk0HFWwXOwn"
        alt="Logo"
        class="w-12 h-12"
      />
    </a>

    <!-- Mobile Menu Button -->
    <button
      class="md:hidden text-white focus:outline-none"
      (click)="toggleMenu()"
    >
      <svg
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <div
      class="nav-links hidden md:flex justify-center items-center text-center md:space-x-6 z-10 transition-all duration-300 ubuntu-medium md:text-xl text-lg"
      [ngClass]="{ 'block absolute top-16 left-0 w-full bg-[#1B2730] bg-opacity-95 py-4 text-center': isMenuOpen, 'hidden': !isMenuOpen }"
    >
      <p
        routerLink="/home"
        routerLinkActive="active"
        class="block md:inline-block hover:underline hover:text-blue-400 cursor-pointer p-2 "
        (click)="closeMenu()"
      >
        Home
      </p>
      <p
        routerLink="/schedule"
        routerLinkActive="active"
        class="block md:inline-block hover:underline hover:text-blue-400 cursor-pointer p-2"
        (click)="closeMenu()"
      >
        Schedule
      </p>
      <p
        routerLink="/about"
        routerLinkActive="active"
        class="block md:inline-block hover:underline hover:text-blue-400 cursor-pointer p-2"
        (click)="closeMenu()"
      >
        About
      </p>
      <p
        routerLink="/contact"
        routerLinkActive="active"
        class="block md:inline-block hover:underline hover:text-blue-400 cursor-pointer p-2"
        (click)="closeMenu()"
      >
        Contact
      </p>
    </div>

    <!-- Search Bar and Avatar -->
    <div class="hidden md:flex items-center space-x-4">
      <img
        src="assets/icon/activity.svg"
        alt="User"
        class="w-10 h-10 rounded-full border border-gray-500"
      />
    </div>
  </div>
</nav>


<!-- <style>
  .navbar {
    background-color: #1f2937;
    /* Dark gray */
    color: white;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links a.active {
    font-weight: bold;
  }

  .search-bar input {
    min-width: 200px;
  }
</style> -->